.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 600;
  color: #1a1a1a;
  cursor: pointer;
}

.icon {
  color: #eb4d4b;
  font-size: 32px;
}
